body {
    background-color: #e9ebef !important;
}
/*============Navbar Css===========*/

.menubar {
    background-color: #1989f0;
    height: 60px;
    padding: 0 10px;
}
.menubar__menu ul {
  list-style: none;
  float: right;
}
.menubar__menu ul li {
    display: inline-block;
    margin-right: 27px;
}


.menubar__menu ul li a {
  text-decoration: none;
  color: #fff;
}

.menubar__logo h2 {
    line-height: 56px;
    color: #fff;
}
.menubar__srcbox {
    margin-top: 13px;
    text-align: center;
}
.srcbox__input {
    width: 486px;
    height: 35px;
    border: 1px solid #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.srcbox__btn {
    height: 35px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.menubar__menu {
    line-height: 60px;
}

/*================Hero Banner Css==================*/
.hero-bnr {
  height: 320px;
}
.bnr-slider {
  margin-top: 5px;
  height: 100%;
  overflow: hidden;
}
.bnr-slider img {
  width: 100%;
  height: 100%;
  position: relative;
}
.btn-left {
  position: absolute;
  top: 125px;
  left: 26px;
  z-index: 1000;
}
.btn-right {
  position: absolute;
  top: 125px;
  right: 26px;
  z-index: 1000;
}
.slider-btn {
    height: 77px;
    width: 35px;
    background-color: #ffffffd6;
    border: transparent;
    border-radius: 5px;
    font-size: 34px;
}

/*================Products Css==================*/
.prdcts {
  margin-top: 20px;
}
.prdcts__title {
  font-size: 24px;
  font-weight:bold;

}
.prdcts__allbtn {
    background-color: #1989f0;
    color: #fff;
    border: none;
    height: 31px;
    width: 89px;
}

.prdcts__slider {
    background-color: #fff;
    padding-top: 12px;
    height: 330px;
    margin-top: 5px;
}
.prdcts__item {
    height: 300px;
    width: 170px;
    margin: 5px;
    display: inline-block;
}

.img__container {
  height:200px;
  width: 179px;
}
.prdcts__item img {
    height: 195px;
    width: 179px;
}
.prdcts__item img:hover {
  height: 200px;
  width: 179px;

}
.prdcts__item h4 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 8px;
    color: #545454;
}

.item__price {
    font-size: 16px;
    color: #1989f0;
    margin-top: -6px;
}

.item__saler {
    font-size: 13px;
    margin-top: -20px;
    color: #757575;
}

.prdctbtn-left {
  position: absolute;
  top: 100px;
  left: 0px;
}
.prdctbtn-right {
  position: absolute;
  top: 100px;
  right: 0px;
}

.prdctslider-btn {
    height: 55px;
    width: 28px;
    border: none;
    background: #fff;
    font-size: 22px;
}

/*================Banner three Css==================*/

.bnnrthree__item {
  height: 300px;
  overflow: hidden;
}

/*================Banner Four Css==================*/
.bnnrfour {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*================Footer Css==================*/
.footertop {
  height: 250px;
  margin-top: 20px;
  padding-top: 40px;
  background-color: #172337;
}
.footertop__item {
  padding-left:40px;
}
.footertop h4 {
  font-size: 12px;
  text-transform:uppercase;
  font-weight: bold;
  color: #76787a;
}
.footertop ul {
  list-style: none;
  padding: 0px;
}
.footertop ul li {
  margin-top: 0px;
}
.footertop ul li a {
  font-size: 13px;
  color: #fff;
  text-transform:capitalize;
}
.footertop p {
  color: #fff;
  font-size: 13px;
}
.footertop__item__info {
    padding-left: 0px;
    margin-left: -24px;
    padding-right: 25px;
}

.footer {
    height: 80px;
    background-color: #172337;
    border-top: 1px solid #6f6f6f;
    line-height: 80px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-right: 152px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
}
.footer p {
  color: #fff;
}
