/*laptop View*/
@media screen and (max-width: 1200px) {
  .search__wrapper {
    width: 550px;
}
.menubar__menu ul li {
  margin-right: 7px;
}
  li.catagorynav__mainlist__item {
    display: inline-block;
    margin-right: 22px;
  }
}

/*large Tab View*/
@media screen and (max-width: 991px)  {
  .toggle__button {
    background: transparent;
    border: none;
    font-size: 25px;
    color: #fff;
    margin-top: -15px;
  }
  .desktop__hidden {
    display: block;
  }
  .menubar__logo {
    margin-left: 7px;
  }
  .menubar__menu ul {
    margin-right: -15px;
  }
  .menubar__menu ul li {
    margin-left: 10px;
  }
  .search__wrapper {
    display:none;
  }
  .search_hidden {
    display: none;
  }
  input.srcbox__input {
    width: 94%;
    height: 100%;
    padding-left: 10px;
  }
  .menubar__menu ul li {
    display: inline-block;
    margin-right: 16px;

  }
  .menubar__menu ul li a {
    font-size: 18px;
  }
  .menubar__menu ul li a span {
    display: none;
  }
  .catagorynav {
    display: none;
  }
  .mobile_searchbox  {
    display: block;
    background: #fff;
    height: 34px;
  }
  .mobile_section {
    display: block;
  }
  .mobile_section {
    background: #da2234;
    height: 40px;
  }
}

/*Small Tab View*/
@media screen and (max-width: 768px) {
  input.srcbox__input {
    width: 92%;
  }
}

/*Phone View*/
@media screen and (max-width: 576px) {
  input.srcbox__input {
    width: 86%;
  }
  .menubar__menu ul li {
    margin-left: 10px;
    margin-right: 0px;
  }

}
